
// Profile

// src/Components/Profile
#profile {
  display: flex;
  justify-content: center;
  position: relative;
  .profile--wrapper {
    width: 75%;
  }
}

.profile__title {
  display: flex;
  align-items: center;
  .profile__title--header {
    flex: 3;
    padding: 0 20px;
    h2 {
      font-size: 30px;
      font-weight: 400;
      font-family: helvetica, 'open sans', roboto, 'poiret one';
      .blink {
        animation: blink 1s infinite;
      }
    }
  }
  .profile__title--image {
    flex: 1;
    position: relative;
    padding: 0 20px;
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      box-shadow: 10px 10px 30px rgba(1, 1, 1, 0.2);
    }
  }
}
.profile__bio {
  text-align: left;
  .profile__bio--text {
    background: #ecf0f1;
    padding: 30px;
    border-radius: 20px;
    margin: 40px 0;
    font-size: 20px;
  }
}

.profile__cv {
  margin: 20px 0;
}

.profile__cta {
  margin: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .profile__cta__button {
    background: rgba(0,0,0,0);
    border: 2px solid #2dcc70;
    padding: 16px 20px;
    border-radius: 20px;
    transition: .2s linear;
    &:hover {
      color: #fff;
      box-shadow: 0 0 30px rgba(39, 174, 97, .3);
      background-color: #2dcc70;
    }
    &:active {
      background-color: #27ae61;
    }
  }
}



@keyframes blink {
  0% { opacity: 1; }
  49% { opacity: 1; }
  50% { opacity: 0; }
  99% { opacity: 0; }
  100% { opacity: 1; }
}
